<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848462754126-vh2cev1f7khkrvn8g9hv3mmenrqgchdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848462754126-vh2cev1f7khkrvn8g9hv3mmenrqgchdc</string>
	<key>API_KEY</key>
	<string>AIzaSyDwXM0pxNgYn5wPnxUCwXdW2HKbvq50BqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>848462754126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itFoxTest</string>
	<key>PROJECT_ID</key>
	<string>itfox-test</string>
	<key>STORAGE_BUCKET</key>
	<string>itfox-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848462754126:ios:0593eade21145f3d806e1f</string>
</dict>
</plist>